* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  height: 100svh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

button {
  font-size: inherit;
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  color: inherit;
  margin: 0 4px;
}

button:hover {
  color: var(--color-active);
  cursor: pointer;
}

.active {
  color: var(--color-active);
}

select {
  background-color: transparent;
  color: var(--color-text);
  border: none;
}

option {
  background-color: var(--color-surface);
  color: var(--color-text);
}


@media all and (max-height: 700px) {
  .site-header {
    display: none;
  }

  .site-footer {
    display: none;
  }
}
