* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #323437;
  color: #D1D0C5;
  display: block;
  height: min(100vi, 100vh);
}

#app {
  position: relative;
}

button {
  font-size: inherit;
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  color: inherit;
  margin: 0 4px;
}

button:hover {
  color: #aaa;
}

.active {
  color: #E2B714;
}

select {
  background-color: #444;
  color: inherit;
  border: none;
}

